package {{.PackageName}}

import (
	"context"
	"{{.ProjectModule}}/internal/pkg/{{.PackageName}}/payload"
)

// UseCase interface of {{.PackageName}} package.
type UseCase interface {
    {{range $functionName := .UsecaseFunctions}}
    {{$functionName}}(ctx context.Context, request payload.{{$functionName}}UsecaseRequest) (payload.{{$functionName}}UsecaseResponse, error)
    {{end}}
}
