package {{.PackageName}}

import (
	"context"
	"{{.ProjectModule}}/internal/repository/{{.PackageName}}/dto"
)

type {{.InterfaceName}} interface {
	{{.FunctionName}}(ctx context.Context, request dto.{{.FunctionName}}Request) (dto.{{.FunctionName}}Response, error)
}