package {{.PackageName}}

import (
	"context"
	dtoRepository "{{.ProjectModule}}/internal/repository/model/dto"
)

// {{.FunctionName}} function to implement repository.
func (r repositoryImplementation) {{.FunctionName}}(ctx context.Context, request dtoRepository.{{.ParameterName}}RepositoryRequest) (dtoRepository.{{.ParameterName}}RepositoryResponse, error) {
	// TODO: implement me
	panic("implement me")
}