package {{.RepositoryName}}

import (
	"{{.ProjectModule}}/internal/repository/{{.RepositoryModule}}"
)

type repositoryImplementation struct {}

// NewRepository function to initialize repository.
func NewRepository() repository.{{.RepositoryName}}Repository {
	return repositoryImplementation{}
}