package usecase

import (
	"context"
	"{{.ProjectModule}}}}/internal/pkg/{{.PackageName}}/payload"
)

// {{.FunctionName}} function to implement use case.
func (u useCase) {{.FunctionName}}(ctx context.Context, request payload.{{.FunctionName}}UsecaseRequest) (payload.{{.FunctionName}}UsecaseResponse, error) {
	// TODO: implement me
	panic("implement me")
}
