package dto

import (
	"github.com/paulusrobin/gogen-golib/mandatory"
)

type (
	{{.EndpointName}}EndpointRequest struct {
		Mandatory  mandatory.Request
	}
	{{.EndpointName}}EndpointResponse struct {
	}
)
