package payload

import (
	"github.com/paulusrobin/gogen-golib/mandatory"
	validator "github.com/paulusrobin/gogen-golib/validator/interface"
)

type (
	{{.FunctionName}}UsecaseRequest struct {
		Mandatory  mandatory.Request
	}
	{{.FunctionName}}UsecaseResponse struct {
	}
)
