package dto

import (
	"github.com/paulusrobin/gogen-golib/mandatory"
)

type (
	{{.FunctionName}}UsecaseRequest struct {
		Mandatory  mandatory.Request
	}
	{{.FunctionName}}UsecaseResponse struct {
	}
)
