package main

import (
	"github.com/rs/zerolog"
	"github.com/spf13/cobra"
	"{{.ProjectModule}}/cmd/grpc"
	"{{.ProjectModule}}/cmd/http"
	"{{.ProjectModule}}/cmd/subscriber"
	"{{.ProjectModule}}/internal/config"
)

var (
	cfg config.Config
	cmd = &cobra.Command{
		Use:   "gogen",
		Short: "gogen",
	}
)

func main() {
	cfg = config.InitConfig()
	globalLogLevel := zerolog.InfoLevel
	zerolog.SetGlobalLevel(globalLogLevel)

	cmd.AddCommand(
		http.Cmd(cfg),       // add http command
		grpc.Cmd(cfg),       // add grpc command
		subscriber.Cmd(cfg), // add subscriber command
	)

	// execute command
	if err := cmd.Execute(); err != nil {
		panic("can't execute cmd")
	}
}
