package main {{ $module := .ProjectModule }}

import (
	"github.com/rs/zerolog"
	"github.com/spf13/cobra"
	"{{.ProjectModule}}/internal/config"
	{{range $command := .Commands}}"{{$module}}/cmd/{{$command}}"
	{{end}}
)

var (
	cfg config.Config
	cmd = &cobra.Command{
		Use:   "gogen",
		Short: "gogen",
	}
)

func main() {
	cfg = config.InitConfig()
	globalLogLevel := zerolog.InfoLevel
	zerolog.SetGlobalLevel(globalLogLevel)

	cmd.AddCommand(
	    {{range $command := .Commands}}{{$command}}.Cmd(cfg), // add {{$command}} command
        {{end}})

	// execute command
	if err := cmd.Execute(); err != nil {
		panic("can't execute cmd")
	}
}
