package payload

import (
	"github.com/labstack/echo/v4"
	"github.com/paulusrobin/gogen-golib/mandatory"
	validator "github.com/paulusrobin/gogen-golib/validator/interface"
)

type (
	{{.EndpointName}}EndpointRequest struct {
		Mandatory  mandatory.Request
	}
	{{.EndpointName}}EndpointResponse struct {
	}
)

func Decode{{.EndpointName}}Request(validator validator.Validation) func(c echo.Context) (interface{}, error) {
	return func(c echo.Context) (interface{}, error) {
		var request {{.EndpointName}}Request
		if err := c.Bind(&request); err != nil {
			return nil, err
		}
		if err := validator.Validator(request.Mandatory.Language()).Struct(request); err != nil {
            return nil, err
        }
		return request, nil
	}
}
