package {{.PackageName}}

import (
	"context"
	"{{.ProjectModule}}/internal/pkg/{{.PackageName}}/dto"
)

// UseCase interface of {{.PackageName}} package.
type UseCase interface {
    {{range $functionName := .UsecaseFunctions}}{{$functionName}}(ctx context.Context, request dto.{{$functionName}}UsecaseRequest) (dto.{{$functionName}}UsecaseResponse, error)
    {{end}}
}
