package {{.PackageName}}

import (
	"github.com/go-kit/kit/endpoint"
)

// Endpoint interface of {{.PackageName}} package.
type Endpoint interface {
    {{range $endpoint := .Endpoints}}{{$endpoint}}() endpoint.Endpoint
    {{end}}}
